---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob("./posts/*.md")

const pageTitle = "My Blog";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>My awesome blog subtitle</h2>
	<body>
		<p>This where I will post about my journey learning Astro</p>
		<ul>
			{allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} /></li>)}
		</ul>			
	</body>
</BaseLayout>