---
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
import Navigation from "./NavigationBar.astro";
---

<header>
    <nav>
        <Hamburger />
        <ThemeIcon />
        <Navigation />
    </nav>
</header>